<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div>
        <h1>Register</h1>
        <form action="/register" method="POST">
            <p>First Name</p>
            <input type="text" name="first_name">
            <br>
            <p>Last Name</p>
            <input type="text" name="last_name">
            <br>
            <p>Email</p>
            <input type="email" name="email">
            <br>
            <p>Password</p>
            <input type="password" name="password">
            <br>
            <p>Confirm Password</p>
            <input type="password" name="confirm_password">
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div>
        <h1>Login</h1>
        <form action="/login" method="POST">
            <p>Email</p>
            <input type="email" name="email">
            <br>
            <p>Password</p>
            <input type="password" name="password">
            <br>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>